<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}'s Personal Website</title>
</head>
<body>
    <h1>{{ name }}</h1>
    <p>{{ introduction }}</p>
    <p>{{ contact_info }}</p>

    <form method="POST" action="/submit">
        <label for="user_input">Enter your text:</label>
        <input type="text" id="user_input" name="user_input">
        <button type="submit">Submit</button>
    </form>

    <div class="buttons-container">
        <form action="/view_img" method="GET">
            <button type="submit">View Img ix0</button>
        </form>
    </div>
</body>
</html>
